:root{
    /* --color-bg:#C8C7C5; --color-fg:#671B1F; */
    /*--color-bg:#2f3640; --color-fg:#f2f2f2;/*#44bd32;/*;/*#ff7a93;*/
    /*--color-bg:#F5F1E8; --color-fg:#4A5C5A;--color-muted:#9A8C98; --color-accent:#333333;/*C44536;*/
    --color-bg:#FDFEFD; --color-fg:#5A7268; --color-accent:#f8d9d8; --color-darkaccent:#F5C3C2;
    --space-1: 4px; --space-2: 8px; --space-3: 16px; --space-4: 24px; --space-5: 40px;

    --radius:12px;
    --shadow: 0 1px rgba(0,0,0,.08), 0 8px 24px rgba(0,0,0,.08);
/* Основной шрифт для body */
    --font-body: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
/* Для заголовков */
    --font-heading: 'Playfair Display', 'Georgia', serif;
/* Для акцентов */
    --font-accent: 'Dancing Script', cursive;
}

html {
    scroll-behavior: smooth;
}

*{box-sizing: border-box;}

html,body{padding: 0; margin: 0;}

body{
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: var(--font-heading);
    line-height: 1.5;
    font-size: 20px;
}

.container{
    width: min(100%-2*var(--space-4), 1120px);
    margin-inline:auto; 
}

.header{
    background-color: var(--color-fg);
    color: var(--color-bg);
    position: sticky;
    top:0;
    z-index: 100;
    
    font-family: var(--font-accent);
}

.header__text,
.footer__header{
    color: var(--color-bg);
    text-decoration: none;
    font-size: 25px;
    line-height: 1.5;
}

.header__main-desc,
.footer__header-text{
    font-size: 15px;
    line-height: 1;
}

.header__desc,
.header__phone-text,
.footer__text,
.footer__phone{
    font-size: 20px;
}

.header__phone-link,
.footer__phone-link{
    color: var(--color-bg);
    font-size: 15px;
}
.footer{
    background-color: var(--color-fg);
    color: var(--color-bg);
    font-family: var(--font-accent);
}

.inf,
.advantages,
.options,
.apply,
.pros,
.manager,
.contract,
.job-advantages,
.phone-apply,
.certificate,
.comments,
.questions,
.question-apply,
.map{
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: var(--font-heading);
}

.inf__list-item,
.advantages__text{
    font-size: 20px;
}

.inf__button,
.apply__button,
.phone-apply__button,
.card__button,
.question-apply__button{
    border-radius: var(--radius);
    background-color: var(--color-accent);
    color: var(--color-fg);
    font-size: 20px;
    transition: all 0.3s ease;
}

.apply__button{
    line-height: 1;
}

.inf__button:hover,
.apply__button:hover,
.phone-apply__button:hover,
.question-apply__button:hover,
.card__button:hover{
    background-color: var(--color-darkaccent);
    color: var(--color-fg);
    transform: translateY(-1px);
}

.inf__button:focus-visible,
.apply__button:focus-visible,
.phone-apply__button:focus-visible,
.question-apply__button:focus-visible,
.card__button:focus-visible{
    color: var(--color-fg);
    background-color: var(--color-accent);
    outline: 2px solid var(--color-fg);
    outline-offset: 1px;
}

.accordion-button{
    color: var(--color-fg);
}

.accordion-button:not(.collapsed),
.accordion-button:active{
    color: var(--color-fg);
    background-color: var(--color-accent);      
    box-shadow: none;
}


.accordion-button:hover,
.accordion-button:focus-visible{
    color: var(--color-fg);
    outline: 4px solid var(--color-accent);
    transform: translateY(-1px);
    box-shadow: none;
}

.accordion-body{
    color: var(--color-fg);
}

.options__first-list,
.options__first-desc,
.options__second-list,
.options__second-desc,
.options__third-list,
.options__third-desc{
    font-size: 20px;
}
 
.name__input,
.phone__input,
.question__input{
    border: 1px solid var(--color-fg);
    border-radius: var(--radius);
}

.name__input:focus,
.phone__input:focus,
.question__input:focus{
    border: 1px solid var(--color-fg);
    outline: 4px solid var(--color-accent);
    box-shadow: none;
}

.card-title,
.card-text{
    color: var(--color-fg);
    font-size: 20px;
}

.advantages__table th,
.advantages__table td{
    vertical-align: middle;
    color: var(--color-fg);
}

.advantages__table tbody tr:last-child{
    border-bottom: none;
}

.advantages__table thead tr{
    border-top: none;
}
.advantages__table thead th{
    padding-left: 20px;
    margin-left: -20px;
}
.advantages__table td{
    padding-left: 20px;
    margin-left: -20px;
}

.advantages__table th:first-child,
.advantages__table td:first-child{
    border-left: none;
}

.advantages__table th:last-child,
.advantages__table td:last-child{
    border-right: none;
}

.comments__img{
    border: 2px solid var(--color-fg);
}

.comments__desc{
    color: var(--color-fg);
}